
* {
  margin: 0;
  padding: 0;
}

:root {
  --linear-gradient-one: linear-gradient(rgba(139, 69, 19, 0.5), rgba(255, 165, 0, 0.5));
  --linear-gradient-two: linear-gradient(rgba(0, 128, 128, 0.5), rgba(0, 0, 0, 0));
  --logo-font: font(bagel fat one);
  --heading-one: 130px;
  --heading-one-mobile: 44px;
  --heading-two-mobiule: 35px;

  --h1-font-family: 'Kaushan Script', cursive;
  --h1-font-weight: 400;
  --h1-font-size: 50px;

  --primary-color: #fff;
  --secondary-color: #000;
  --background-color: #BFA6A0; 
  --background-color-two: rgba(0, 128, 128, 0.5);
  --background-color-three: #4682b4 ;

  --default-font-family: 'Poppins', sans-serif;

  --serviceImg-width: 600px;
  --serviceimg-height: 400px;
  
}

#banner{
  background: var(--linear-gradient-two),url(images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.logo {
  width: 140px;
  position: absolute;
  top: 4%;
  left: 10%;
  
}
.banner-text{
  text-align: center;
  color: var(--primary-color);
  padding-top: 180px;
  font-family: var(--default-font-family);
}
.banner-text h1{
  font-size: var(--heading-one);
  font-family: var(--h1-font-family);
  font-style: normal;
  font-weight: var(--h1-font-weight);
}
.banner-text p{
  font-size: 20px;
  font-style: italic;
  font-family: var(--default-font-family);
}
.banner-btn{
  margin: 70px auto 0;
}
.banner-btn a{
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: var(--primary-color);
  border : .5px solid var(--primary-color);
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}
.banner-btn a span{
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary-color);
  z-index: -1;
  transition: 0.5s;
}
.banner-btn a:hover span{
  width: 100%;
}
.banner-btn a:hover{
  color: var(--secondary-color);
}

#sideNav{
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: var(--background-color-two);
  z-index: 2;
  transition: 0.9s;
  font-family: var(--default-font-family);
}
nav ul li{
  list-style: none;
  margin: 50px 20px;
  font-family: var(--default-font-family);
}
nav ul li  a{
  text-decoration: none;
  color: var(--primary-color);
}
#menuBtn{
  width: 50px;
  height: 50px;
  background: var(--background-color-two);
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 3;
  text-align: center;
  font-style: var(--default-font-family);
}
#menuBtn img{
  width: 20px;
  margin-top: 15px;
}
@media screen and (max-width: 770px){
  .banner-text h1 {
      font-size: var(--heading-one-mobile);
      font-family: var(--h1-font-family);
      font-style: normal;
      font-weight: var(--h1-font-weight);
    }
    .banner-btn a{
      display: block;
      margin: 20px auto;
    }
}
/*--Features--*/
#feature{
  width: 100%;
  padding: 70px 0;
  font: var(--default-font-family);
  font-family: var(--default-font-family);
}
.title-text{
  text-align: center;
  padding-bottom: 70px;
  font-family: var(--default-font-family);
}
.title-text p{
  margin: auto;
  font-size: 20px;
  color: var(--background-color-two);
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  font-family: var(--default-font-family);

}
.title-text p::after{
  content:'';
  width: 50px;
  height: 35px;
  position: absolute;
  background: var(--linear-gradient-two);
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;

}

.title-text h1{
  font-size: var(--h1-font-size);
  font-family: var(--default-font-family);
}
.features-box{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.features{
  flex-basis: 50%;
}
.features-img{
  flex-basis: 50%;
  margin: auto;
}
.features-img img{
  width: 70%;
  border-radius: 10px;
}
.features h1{
  text-align: left;
  margin-bottom: 10px;
  font-weight: 100;
  color: var(--background-color-two);
  }
.features-desc{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.feature-icon .bx{
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: var(--background-color-two);
  border: 1px solid var(--background-color-two);

}
.feature-text p{
  font-family: var(--default-font-family);
  padding: 0 20px;
  text-align: initial;
}
@media screen and (max-width: 770px){
  .title-text h1 {
      font-size: var(--heading-two-mobiule);
      font-family: var(--default-font-family);
    }
    .features{
        flex-basis: 100%;
     }
    .features-img {
      flex-basis: 100%;
    }
    .features-img img {
      width: 100%;
      border-radius: 10px;
    }
}

/*--services--*/

#service{
  width: 100%;
  padding: 70px 0;
  background: var(--background-color-two);
  font-family: var(--default-font-family);
}
.service-box{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service{
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  flex-basis: 48%;
  color: var(--primary-color);
  position: relative;
}
.single-service img{
  width: 100%;
  border-radius: 7px;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: var(--linear-gradient-two);
  opacity: 0;
  transition: 1s;
}
.single-service:hover .overlay{
  opacity: 1;
}